@import url('https://fonts.googleapis.com/css?family=Asul');
@import url('https://fonts.googleapis.com/css?family=Chivo:900');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css');
@import url('https://fonts.googleapis.com/css?family=Calligraffitti');

html {
    position: relative;
    min-height: 100%;
  }

body {
    margin-bottom: 60px;
    padding-top: 20px;
  }

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f4f3f4;
  }

.avatar-Image {
    max-width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto 

}

.my-name {
    font-size: 2em;
}

.brand-Title-light {
    font-family: 'Asul', sans-serif;
}

.brand-Title-dark {
    font-family: 'Chivo', sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}
p > a:hover{
    color: #d9d9d9;
    text-decoration:  underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin:  1% 0 1% 0;
}
._12 {
    font-size: 1.2em;
}
._14 {
    font-size: 1.4em;
}
ul {
    padding:0;
    list-style: none;
}
.footer-social-icons {
    width: 350px;
    display:block;
    margin: 0 auto;
}
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}

.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}

.fa-github {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-github:hover {
    background-color: #040204;
}

.fa-envelope {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-envelope:hover {
    background-color: #DA3E52;
}

.fa-medium {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-medium:hover {
    background-color: #00ab6c;
}

.sidepanel-text {
    color: #403f4c;
    font-family: 'Calligraffitti', cursive;
}

.content-text {
    color: #403f4c;
}

.heading-text {
    color: #403f4c;
    font-family: 'Chivo', sans-serif;
}