.skill-card-container {
  height: 15vh;
  width: 7.3vw;
  margin: 0px 6px 0px 6px;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.29);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.29);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

.skill-card-container:first-child {
  margin: 0px 6px 0px 0px;
}

.skill-image-holder-1 {
  padding-top: 10%;
  height: 60%;
  width: 50%;
}

.skill-image-holder-2 {
  padding-top: 10%;
  height: 60%;
  width: 60%;
}

.skill-label {
  font-weight: 200;
}
