@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800&display=swap');

.logo-initial {
  font-weight: 800;
  font-size: 1.2em;
  font-family: Montserrat, monospace;
}

.get-in-touch-button {
  background-color: #0075f2;
  text-transform: uppercase;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
